<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
	<title>CarEcommerce</title>
</head>
<body>
	<div id="app" class='container mt-5'>
		<div class="d-flex">
			<div class="mx-2">
				<select class="form-select" aria-label="Default select example" v-model="selectedCategory">
					<option selected>Category</option>
					<option value="Tesla">Telsa</option>
					<option value="Porsche">Porsche</option>
					<option value="Toyota">Toyota</option>
					<option value="Honda">Honda</option>
					<option value="Mazda">Mazda</option>
					<option value="Mercedes-Benz">Mercedes-Benz</option>
					<option value="Lexus">Lexus</option>
					<option value="Lamborghini">Lamborghini</option>
					<option value="Audi">Audi</option>
					<option value="BMW">BMW</option>
				</select>
			</div>
			<div>
				<select class="form-select" aria-label="Default select example" v-model="selectedSortType">
					<option selected>Sort by:</option>
					<option value="Low to High">Price: Low to High</option>
					<option value="High to Low">Price: High to Low</option>
					<option value="Newest Arrivals">Newest Arrivals</option>
				</select>
			</div>
		</div>
		<div class="d-flex flex-wrap pt-4">
			<item-card
				v-for="item in getViewItems"
				v-bind:key="item.id"
				v-bind:img="item.img"
				v-bind:model="item.model"
				v-bind:category="item.category"
				v-bind:price="item.price"
				v-bind:date="item.date"
			></item-card>
		</div>
	</div>
	<script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
	<script src="js/main.js"></script>
</body>
</html>